# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/07-ecommerce.csv')

**Check the head of the DataFrame.**

In [5]:
data.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

** How many rows and columns are there? **

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
data.columns.size

14

In [7]:
data.index.size

10000

** What is the average Purchase Price? **

In [7]:
data['Purchase Price'].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [9]:
data['Purchase Price'].max()

99.99

In [8]:
data['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [9]:
bool_english = data['Language'].str.lower() == 'en'
data[bool_english].index.size

1098

** How many people have the job title of "Lawyer" ? **

In [13]:
bool_lawyer = data['Job'] == 'Lawyer'
data[bool_lawyer]['Job'].count()
# data[bool_lawyer].index.size

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [51]:
data['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [21]:
group_day = data.groupby('AM or PM')
group_day['AM or PM'].describe()

         count unique top  freq
AM or PM
AM        4932      1  AM  4932
PM        5068      1  PM  5068

In [32]:
group_day['AM or PM'].count()

AM or PM
AM    4932
PM    5068
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [50]:
Jobs_counted = data.groupby('Job')['Job'].value_counts()

Jobs_counted.sort_values(ascending=False)[:5]

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: count, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [53]:
data[data['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [54]:
data[data['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [57]:
data[(data['CC Provider'] == 'American Express') & (data['Purchase Price'] > 95)].index.size

39

** Hard: How many people have a credit card that expires in 2025? **

In [93]:
expired = data['CC Exp Date'].str.split('/').str.get(1) == '25'

In [96]:
data[expired].index.size

1033

method 2

In [98]:
data['CC Exp Date'].iloc[0][3:]

'20'

In [104]:
bool_date25 = data['CC Exp Date'].apply(lambda x: x[3:] == '25')
data[bool_date25].index.size

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [107]:
providerList = data['Email'].apply(lambda x: x.split('@')[1])
providerList.value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

# Great Job!